@font-face {
  font-family: "MPLUSRounded1c-ExtraBold";
  src: url("fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-ExtraBold.ttf");
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("fonts/HelveticaNeueBoldCondensed.ttf");
}

.Header-box {
  background-color: #A973C2;
  min-height: 58px;
  text-align: center;
  color: #ffff;
  font-family: 'MPLUSRounded1c-ExtraBold';
  font-size: 36pt;
  position: sticky;
}

#links {
  font-family: 'Helvetica Neue';
  font-size: 15pt;
  color: #ffff;
}

#links a:hover {
  color: #ffff;
}

.Label-font {
  font-family: 'Helvetica Neue';
  font-size: 15pt;
}

section {
  width: 1033px;
  height: 450px;
  overflow: auto;
  margin-top: 28px;
  margin-left: 38px;
}

#feed_img{
  width: 277px;
  height: 222px;
  background-image: url(images/img_icon.png);
  background-size: contain;
  background-position: center;
}

#feed_img p{
  padding-top: 222px;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 15pt;
  color: #4B4B4B;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
